﻿
@{
    ViewData["Title"] = "OrderEvent";
}

<div class="text-center">
    <h1 class="display-4">Новое мероприятие</h1>
</div>

<form method="post" asp-action="OrderEvent" asp-controller="Home">
  <div class="mb-3">
    <label for="nameInput" class="form-label">Название</label>
    <input type="text" class="form-control" name="Name" id="nameInput">
  </div>
  <div class="mb-3">
    <label for="descriptionInput" class="form-label">Описание</label>
    <input type="text" class="form-control" name="Description" id="descriptionInput">
  </div>
  <div class="mb-3">
    <label for="phoneInput" class="form-label">Номер телефона для связи</label>
    <input type="text" class="form-control" name="Phone" id="phoneInput">
  </div>
  <div class="mb-3">
    <label for="emailInput" class="form-label">Адрес электронной почты</label>
    <input type="text" class="form-control" name="Email" id="emailInput">
  </div>
  <button type="submit" class="btn btn-primary">Подать заявку</button>
</form>

