﻿@using CMYK.Core.Entities;
@model List<OrderEvent>
@{
    ViewData["Title"] = "OrderEventsList";
}
<div class="text-center">
    <h1 class="display-4">Список заявок</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th><th>Name</th><th>Description</th><th>Phone</th><th>Email</th><th></th>
            </tr>
        </thead>
        <tbody class="table-striped">
        @foreach (var orderEvent in Model!)
        {
            <tr>
                <th>@orderEvent.Id</th>
                <td>@orderEvent.Name</td>
                <td>@orderEvent.Description</td>
                <td>@orderEvent.Phone</td>
                <td>@orderEvent.Email</td>
                <td><a asp-action="UpdateOrderEvent"></a></td>
            </tr>
        }
        </tbody>
    </table>
</div>
