﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
<h1>You're loggin</h1>
<form method="post" asp-controller="Admin" asp-action="AdminLogout">
    <input type="submit" placeholder="Logout" />
</form>
