﻿@{
    ViewData["Title"] = "Admin Control Panel";
    Layout = "_AdminLayout";
}

<div>
    <form method="post" autocomplete="on" asp-action="AdminLogin" asp-controller="Admin">
        <input name="Email" placeholder="Email-адрес" />
        <input name="Password" placeholder="Пароль" type="password"/>
        <input type="submit" />
    </form>
</div>